@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    @Localizer["I have apples {0}", 20]
</div>

@System.Globalization.CultureInfo.CurrentCulture.DisplayName
