@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    @Localizer["Hello"]
</div>

<form asp-controller="Home" asp-action="Update">
    <button>Update!</button>
</form>

@System.Globalization.CultureInfo.CurrentCulture.DisplayName
